
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33cccc;
  font-family: 'Quicksand', sans-serif;
}
 title{
    Sbackground-color: #33cccc;
  }


li {
  float: left;
  position: sticky;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a{
  color: black;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
  font-family:'Montserrat', sans-serif;;
  }
div {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

#contato{
	margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

.fab {
    font-size: 50px;
  }

.sticky-top{
	position: sticky
}

#rounded-circle{
  color: black;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

#p{
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  }